<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="display-4">
      <span translate>Formulaire d'envoi</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <div class="my-4">
        <div class="row">
          <div class="col-sm-0 col-md-3"></div>
          <div class="col-sm-12 col-md-6 text-left">Auteur :</div>
        </div>
       <input list="names" #auteur class="col-sm-12 col-md-6"/>
       <datalist id="names">
        <select>
          <option *ngFor="let name of names" [value]="name"></option>
      </select>
      </datalist>
      </div>
      <div class="my-4">
        <div class="row">
          <div class="col-sm-0 col-md-3"></div>
          <div class="col-sm-12 col-md-6 text-left">Catégorie :</div>
        </div>
          <select #categorie class="col-sm-12 col-md-6">
            <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
          </select>
      </div>
      <div class="my-4">
        <div class="row">
          <div class="col-sm-0 col-md-3"></div>
          <div class="col-sm-12 col-md-6 text-left">Phrase : </div>
        </div>
        <textarea #phrase class="col-sm-12 col-md-6"></textarea>
      </div>
      <button class="btn btn-primary btn-lg" (click)="sendPhrase(auteur.value, categorie.value, phrase.value)">Envoyer</button>
  </div>
</div>
